# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_internal_packages/

# Ignore specific dashboard/theme configuration files
Supply_Chain_Command_Center.json

# Exclude Power BI binary files
*.pbix
*.pbit

# Optional: Exclude local user settings
*.pbiuser
*.pbiproj.user
